@font-face {
	font-family: squarefont;
	src: url(../js/fonts/Orbitron_Medium.ttf);
}

canvas {display:block;}    /* remove scrollbars */
canvas:focus {outline:0;} /* remove blue outline around canvas */
.fs {position:fixed; bottom:20px; right:20px;}
#enter {display:block;}
#exit {display:none;}
html, body {
  height: 100%;
}

body {
	padding: 0;
	overflow: hidden;/* remove top and left whitespace */
  margin: 0;
  /*display: flex;*/

  /* This centers our sketch horizontally. */
  /*justify-content: center;*/

  /* This centers our sketch vertically. */
  /*align-items: center;*/
}
a{text-decoration:none;}

#middle{
	margin: 0;
	position: absolute;
	top: 33%;
	width:100%;
	height:33%;
	background-color:white;
	text-align: center;
	vertical-align:middle;
}

#play-btn{
	position:relative;
	top:28%;
	background-color:white;
	font-size:400%;
	cursor:pointer;
	border-top-color:#3366cc;
	border-top-width:10px;
	border-top-style:solid;
}
